@page
@using GestioneLibreriaSaso.Classi;
@model GestioneLibreriaSaso.Pages.Libri.CreateModel
@{
    ViewData["Title"] = "Nuovo libro";
    List<Autore> Autori = (List<Autore>)ViewData["ListAutori"];
}


<h1 class="display-4 text-center m-5">Aggiungi Nuovo Libro</h1>

<form method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="ImgCopertina"></label>
        <input asp-for="ImgCopertina" type="file" class="form-control" />
    </div>
    <div>
        <label asp-for="Libro.Titolo"></label>
        <input asp-for="Libro.Titolo" class="form-control" />
    </div>
    <div>
        <label asp-for="Libro.Descrizione"></label>
        <input asp-for="Libro.Descrizione" class="form-control" />
    </div>
    <div>
        <label asp-for="Libro.Genere"></label>
        <input asp-for="Libro.Genere" class="form-control" />
    </div>
    <div>
        <label asp-for="Libro.DataPubblicazione"></label>
        <input asp-for="Libro.DataPubblicazione" class="form-control" />
    </div>
    <div>
        <label asp-for="Libro.Autore.IdAutore"></label>
        <select asp-for="Libro.Autore.IdAutore" class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            @foreach (Autore Autore in Autori)
            {
                <option value="@Autore.IdAutore">@Autore.NomeCognome</option>
            }
        </select>
    </div>
    <button type="submit">Salva</button>

    <p>@Model.Messaggio</p>
</form>
